@page "/addproducts"
@using System.ComponentModel.DataAnnotations

<PageTitle>Adding new product</PageTitle>

@inject Catalog Catalog

<h3>Добавление товара</h3>


<EditForm Model="_model" OnValidSubmit="ProcessValidForm">
  <DataAnnotationsValidator />
 
	<table border="0" cellpadding="10">
		<tr><td>Название:</td><td><InputText @bind-Value="_model.Name" /></td></tr>
		<tr><td>Цена, руб.:</td><td><InputNumber @bind-Value="_model.Price" /></td></tr>
	</table>
	<div class="add_product_div">@_saved_text</div>
 
  <br/> <input type="submit" value="Сохранить">
  <ValidationSummary />
</EditForm>


@code {
	private FormModel _model = new();
	string _saved_text;
	private void ProcessValidForm()
	{
		int _new_id = Catalog.GetProducts().Length + 1;
		Product _product = new Product(_new_id, _model.Name, _model.Price);
		Catalog.AddProduct(_product);
		_saved_text = "Товар \"" + _model.Name + "\" был успешно сохранен.";
		_model = new ();
	}

	private class FormModel
	{
		[Required, MinLength(3)]
		public string Name { get; set; }

		[Required, Range(1, 10000000)]
		public decimal Price { get; set; }		
	}

	

	
	
	
}
