@page "/products"
@using BlazorShop.Models

<PageTitle>Products</PageTitle>

@inject ProductService Catalog

<h3>Список товаров</h3>

@foreach(var product in Catalog.GetProducts())
{
	<div>@product.ToString()</div>
}


@code {

}
